<%- model_class = Favorite.new.class -%>

<div class="page-header">

  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>

</div>

<table class="table table-striped">

  <thead>

    <tr>

      <th><%= model_class.human_attribute_name(:id) %></th>

      <th><%= model_class.human_attribute_name(:user_id) %></th>

      <th><%= model_class.human_attribute_name(:movie_id) %></th>

      <th><%= model_class.human_attribute_name(:created_at) %></th>

      <th><%=t '.actions', :default => t("helpers.actions") %></th>

    </tr>

  </thead>

  <tbody>

    <% @favorites.each do |favorite| %>

      <tr>

        <td><%= link_to favorite.id, favorite_path(favorite) %></td>

        <td><%= link_to(favorite.user.name, favorite.user) if favorite.user %></td>

        <td><%= link_to(favorite.movie.title, favorite.movie) if favorite.movie %></td>

        <td><%=l favorite.created_at %></td>

        <td>

          <%= link_to t('.edit', :default => t("helpers.links.edit")),

                      edit_favorite_path(favorite), :class => 'btn btn-mini' %>

          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),

                      favorite_path(favorite),

                      :method => :delete,

                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),

                      :class => 'btn btn-mini btn-danger' %>

        </td>

      </tr>

    <% end %>

  </tbody>

</table>



<%= link_to t('.new', :default => t("helpers.links.new")),

            new_favorite_path,

            :class => 'btn btn-primary' %>
